RABBITMQ_DEFAULT_USER=your_rabbitmq_default_user
RABBITMQ_DEFAULT_PASS=your_rabbitmq_default_password
RABBITMQ_USER=your_rabbitmq_user
RABBITMQ_PASSWORD=your_rabbitmq_password
RABBITMQ_HOST=your_rabbitmq_host:port
RABBITMQ_AUTH_QUEUE=your_auth_queue_name

POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_database_name

POSTGRES_URI=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@your_postgres_host:5432/${POSTGRES_DB}

PGADMIN_DEFAULT_EMAIL=your_pgadmin_email@example.com
PGADMIN_DEFAULT_PASSWORD=your_pgadmin_password